################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/EKSE/bin/Debug/net9.0-windows
/EKSE/obj
